
<%= form_for(@photo) do |f| %>
  <%= f.error_messages! %>

  <%= f.label :title %>
  <br>
  <%= f.text_field :title, class: 'image__upload_btn' %>
  <br>
    <br>

  <%= f.label :content %>
  <br>
  <%= f.text_field :content, class: 'image__upload_btn' %>
  <br>
    <br>

  <%= f.label :image %>
  <br>
  <%= f.file_field :image , class: 'image__upload_btn'%>
  <br >
  <%= f.submit %>
<% end %>

<!-- <input id="lefile" type="file" style="display:none">
<div class="input-group">
  <input type="text" id="photoCover" class="form-control" placeholder="select file...">
  <span class="input-group-btn"><button type="button" class="btn btn-info" onclick="$('input&#91;id=lefile&#93;').click();">Browse</button></span>
</div>


<script>
  $('input[id=lefile]').change(function() {
    $('#photoCover').val($(this).val());
  });
</script> --> -->


<%= link_to "写真一覧画面にもどる", photos_path %>

  </div>
</div>
